.hero-carousel-wrapper{
  position:relative;
  overflow:hidden;
  padding-top:9rem;
  padding-bottom:5rem;
}

.bg-layer{
  position:absolute;
  inset:0;
  z-index:0;
  pointer-events:none;
  transition:opacity 1.05s ease-in-out;
}

.hero-carousel-wrapper .carousel-indicators [data-bs-target]{
  width:20px;
  height:20px;
  margin-left:8px;
  border-radius:50%;
}

.hero-carousel-wrapper .carousel-indicators{
  margin-bottom:-1rem;
}

.hero-image{
  width:60%;
  max-width:360px;
  height:auto;
  user-select:none;
  pointer-events:none; 
  will-change:opacity,transform;
}

/* responsive */
@media(max-width:767px){
  .hero-image{
    width:50%;
    max-width:260px;
    height:auto;
  }
  .hero-title{
    font-size:28px;
  }
  .hero-carousel-wrapper .carousel-indicators [data-bs-target]{
  width:10px;
  height:10px;
}

.hero-carousel-wrapper .carousel-indicators{
  margin-bottom:-3rem;
}
}