header{
  position:absolute;
  width:100%;
  top:0;
  left:0;
  z-index:999;
  padding-top:20px;
}

header .navbar .navbar-brand{
  color:white;
  font-weight:bold;
  font-size:1.5rem;
  font-style:italic;
  letter-spacing:0.5px;

}

header .navbar .navbar-nav .nav-link{
  font-size:16px;
  color:white;
  margin:0px 12px;
  font-weight:500;
}

header .navbar .navbar-nav .nav-link:hover{
  color:var(--color-primary);
}

header .navbar-toggler{
    text-decoration:none;
    border :2px solid white;
    color:white;
    border-radius:6px;
    padding:2px 5px;
}
header.navbar-toggler:focus{
  box-shadow:none;
}

header .navbar-toggler-icon{
  filter:brightness(10);
}

footer{
  padding-top:60px;
}

footer .logo{
  font-size:28px;
  font-weight:bold;
}

footer .footer-title{
  font-size:20px;
  font-weight:bold;
  margin-bottom:15px;
}
footer .list{
  list-style-type:none;
  margin:0;
  margin:0;
}

footer .list li{
  list-style-type:none;
  padding-bottom:10px;
  text-decoration:none;
  color:#70798b;
  font-weight:500;
  text-transform:capitalize;
}
footer .list li:hover{
  color:var(--color-primary);
}